@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #111;
}

section {
  padding: 70px 10%;
}
